page-q4 {
    .fab[mini] {
        // margin: 8px;
         width: 40px;
         //height: 40px;
         
         color: white;
         background-color:#dc143c;
        // line-height: 40px;
     }
}
